<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Modification de votre mot de passe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <p>
        Le mot de passe de votre compte a été modifié avec succès.
    </p>

    <p>
        Si vous n'êtes pas à l'origine de cette modification, <strong>veuillez contacter un administrateur</strong>.
    </p>

    <p>
        <span>Cordialement, </span>
        <br/>
        <em>StormForce</em>
    </p>

</body>
</html>